<!DOCTYPE HTML >
<html lang="en">
  <head>
    {% block head %}
    <title>Easy Punch!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/pickadate.01.default.css')}}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/jquery.timepicker.css')}}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" media="all">
    {% endblock %}
  </head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer"> {% block footer %} {% endblock %} </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/pickadate.legacy.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.timepicker.js')}}"></script>
    <script src="{{ url_for('static', filename='js/page.js')}}"></script>
</body>
</html>
